<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">		
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/TwitterDB</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="connection.password">261286</property>
        <property name="connection.pool_size">1</property>
        <property name="show_sql">false</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="hibernate.current_session_context_class">thread</property>
        
        <mapping resource="mappings/Program.hbm.xml"/>
        <mapping resource="mappings/Broadcaster.hbm.xml"/>
        <mapping resource="mappings/Epg.hbm.xml"/>
        <mapping resource="mappings/EpgEvent.hbm.xml"/>
        <mapping resource="mappings/Terms.hbm.xml"/>
        <mapping resource="mappings/Tweets.hbm.xml"/>
               
    </session-factory>
</hibernate-configuration>